body {
  background-color: #faf7ff;
}

img {
  max-width: 130px;
}

h1 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
}

footer {
  font-size: 12px;
  text-align: center;
  opacity: 0.5;
  padding: 40px 0px 10px 0px;
}

.forecast {
  display: flex;
  justify-content: space-around;
}

.container {
  display: block;
  margin: 30px auto;
  max-width: 500px;
  border: 1px solid #faf7ff;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.4);
  padding: 30px;
  background: white;
  font-family: sans-serif;
}

.form-container {
  padding: 20px 0px;
}

input.container {
  display: flex;
}

input.search-input {
  line-height: 28px;
  width: 80%;
  background-color: #faf7ff;
  border: 1px solid #faf7ff;
}

input.search-button {
  background-color: blueviolet;
  border-radius: 3px;
  line-height: 33px;
  color: #fff;
  font-weight: bold;
  border: 1px solid blueviolet;
  padding: 0px 20px;
  transition: all 150ms ease-in-out;
}

input.search-button:hover {
  background-color: transparent;
  color: blueviolet;
  cursor: pointer;
}

.today-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.today-info {
  color: rgb(0, 0, 0, 0.3);
  font-size: 13px;
  letter-spacing: 1px;
}

.today-data {
  color: rgb(255, 0, 0, 0.3);
}

.today-temp {
  font-size: 80px;
  margin: auto auto;
  text-align: right;
  margin-right: 40px;
}

.emoji {
  font-size: 40px;
  vertical-align: middle;
}

.unit {
  font-size: 25px;
  vertical-align: super;
}
